{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- header -->
  <header role="banner" id="fh5co-header">
    <div class="fluid-container">
      {{ page.primary_menu }}
    </div>
  </header>

  <!-- Access Denied -->
  {%  set base_url = url('<front>')  %}
  <section id="not-found-section" class="text-center">
    <div class="container">               
      <div class="row"> 
        <div class="not-found-body" >
          <div class="not-title" >
            <h1>403</h1>
            <h2>Access Denied</h2> 
          </div>  
            <h2>Access To The Webpage Was Denied. </h2>
            <p>You are not authorized to access this page. You must login to view this page.</p>      
            <a href="{{ base_url }}" class="btn btn-custom"> Go Home </a>      
        </div>
      </div>          
    </div>    
  </section>

<!-- footer -->
  <div id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 to-animate">
          {% if about_us_title|render is not empty %}
            <h3 class="section-title">{{ about_us_title }}</h3>
          {% endif %}
          {% if about_desc|render is not empty %}
            <p>{{ about_desc }}</p>
          {% endif %}
          <p class="copy-right">&copy; 2018 <a href="#">YG Verb</a>. All Rights Reserved. 
            Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co </a>Theme By <br><a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="http://www.youngglobes.com" target="_blank">Young Globes</a>
          </p>

        </div>


        <div class="col-md-4 to-animate">
          {% if title|render is not empty %}
            <h3 class="section-title">{{ title }}</h3>
          {% endif %}
          <ul class="contact-info">
          {% if address|render is not empty %}
            <li><i class="icon-map-marker"></i>{{ address }}</li>
          {% endif %}  
          {% if contact_number|render is not empty %}
            <li><i class="icon-phone"></i><a href="tel:{{ contact_number }}">{{ contact_number }}</a></li>
          {% endif %}   
          {% if mail|render is not empty %}
            <li><i class="icon-envelope"></i><a href="mailto:{{ mail }}"><span class="__cf_email__" data-cfemail="b9d0d7dfd6f9c0d6cccbcad0cddc97dad6d4">{{ mail }}</span></a></li>
          {% endif %}   
          {% if domain_name|render is not empty %}
            <li><i class="icon-globe2"></i><a href="{{ domain_name }}">{{ domain_name }}</a></li>
          {% endif %}  
          </ul>
          {% if social_title|render is not empty %}
            <h3 class="section-title">{{ social_title }}</h3>
          {% endif %}  
          <ul class="social-media">
            {% if facebook_url|render is not empty %}
              <li><a href="{{ facebook_url }}" class="facebook"><i class="icon-facebook"></i></a></li>
            {% endif %}    
            {% if twitter_url|render is not empty %}
              <li><a href="{{ twitter_url }}" class="twitter"><i class="icon-twitter"></i></a></li>
            {% endif %}  
            {% if dribbble_url|render is not empty %}  
              <li><a href="{{ dribbble_url }}" class="dribbble"><i class="icon-dribbble"></i></a></li>
            {% endif %}  
            {% if github_url|render is not empty %}  
              <li><a href="{{ github_url }}" class="github"><i class="icon-github-alt"></i></a></li>
            {% endif %}  
          </ul>
        </div>
        <div class="col-md-4 to-animate">
            {{ page.contact_form }}
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="map" class="fh5co-map"></div> -->