#fh5co-team .team-box .user img{
	margin: auto;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: unset;
}
.contact-form input#edit-actions-submit {
    color: rgba(255, 255, 255, 0.9) !important;
    background: #8C7676 !important;
    margin: 0px;
}

/* Page not found */
#not-found-section {
    padding: 50px 0px 100px;
}
.not-found-body {
    max-width: 70%;
    margin: auto;
}
.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}
.not-title {
    /*border: 2px solid #fff;*/
    padding: 10px 50px 30px 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.not-title h1 {
    font-size: 100px;
    margin: 0px;
    color: #fff;
}
.not-title h2 {
    font-size: 17px;
    margin: 0px;
    color: #fff;
}
.not-found-body p{
	font-size: 14px;
}
#not-found-section a.btn.btn-custom{
	color: rgba(255, 255, 255, 0.9) !important;
    background: #8C7676 !important;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    border: none;
}
#not-found-section a.btn.btn-custom:hover{
	background: #846d6d !important;
}
@media (min-width: 320px) and (max-width: 480px){
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #fff !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #fff !important;
}
.not-title {
    /*border: 2px solid #fff !important;*/
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
@media (min-width: 481px) and (max-width: 768px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #fff !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #fff !important;
}
.not-title {
    /*border: 2px solid #fff !important;*/
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #fff !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #fff !important;
}
.not-title {
    /*border: 2px solid #fff !important;*/
    padding: 10px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
/* End page not found*/

/* User login form css*/
#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 70px;
  margin-top: 70px;
  overflow: hidden;
}
.login-text .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
}
.login-text a {
    color: #fdfdfd;
    font-size: 12px;
}
.login-button input{
	color: rgba(255, 255, 255, 0.9) !important;
    background: #8C7676 !important;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    border: none;
}
.login-button input:hover{
	background: #846d6d !important;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}
.form-composite > .fieldset-wrapper > .description, .form-item .description {
    font-size: 0.85em;
    font-size: 12px;
}
.login-text label{
	font-size: 13px;
}
#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}
#user-register-form label, #user-login label .user-pass label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
}
#user-register-form .description, #user-login .description .user-pass p {
    font-size: 11px;
}
#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px
}
#user-register-form .form-actions input , #user-pass .form-actions input {
	color: rgba(255, 255, 255, 0.9) !important;
    background: #8C7676 !important;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    border: none;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover{
	background: #846d6d !important;
}
summary {
    font-size: 16px;
}
#user-register-form .form-actions label , #user-pass .form-actions label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 17px;
}
@media only screen and (max-width: 610px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}

@media (min-width: 768px) and (max-width: 992px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}
/* End  User login form css*/