<!-- team social links -->
{% if content.field_url.0|render is not empty %}
<li>
	<a href="{{ content.field_url[0]['#url']|render }}" class="facebook">{{ content.field_icons.0 }}</a>
</li>
{% endif %}	
<!-- team social links end-->

	



