<!-- Pricing Items -->
{% if '0' in content.field_value[0] %}
	<div class="col-md-3 col-sm-6">
		<div class="price-box to-animate">
			<h2 class="pricing-plan">{{ content.field_title.0 }}</h2>
			<div class="price"><sup class="currency">$</sup>{{ content.field_secondary_title.0 }}<small>/{{ content.field_style.0 }}</small></div>
			{{ content.field_body.0 }}
			<hr>
			<ul class="pricing-info">
				{{ content.field_feature }}
			</ul>
			{% if content.field_url.0|render is not empty %}
				<p><a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-primary">{{ content.field_url[0]['#title'] }}</a></p>
			{% endif %}	
		</div>
	</div>
{% else %}
<div class="clearfix visible-sm-block"></div>
	<div class="col-md-3 col-sm-6 to-animate">
		<div class="price-box popular">
			<div class="popular-text">{{ content.field_value['#title'] }}</div>
			<h2 class="pricing-plan">{{ content.field_title.0 }}</h2>
			<div class="price"><sup class="currency">$</sup>{{ content.field_secondary_title.0 }}<small>/{{ content.field_style.0 }}</small></div>
			{{ content.field_body.0 }}
			<hr>
			<ul class="pricing-info">
				{{ content.field_feature }}
			</ul>
			{% if content.field_url.0|render is not empty %}
				<p><a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-primary">{{ content.field_url[0]['#title'] }}</a></p>
			{% endif %}	
		</div>
	</div>
{% endif %}
<!-- Pricing Items End-->
