<!-- get started -->
<div class="getting-started getting-started-1">
	<div class="getting-grid" style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }});">
		<div class="desc text-center">
			<h2>{{ content.field_title.0 }}</h2>
			{{ content.field_body.0 }}
			{% if content.field_url.0|render is not empty %}
				<p><a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-primary">{{ content.field_url[0]['#title'] }}</a></p>
			{% endif %}
		</div>
	</div>
</div>
<!-- get started end-->

	



