<!-- service items -->
	<div class="core">
		{{ content.field_icons.0 }}
		<div class="fh5co-post to-animate">
			<h3>{{ content.field_title.0 }}</h3>
			{{ content.field_body.0 }}
		</div>
	</div>
<!-- service items end-->

