<!-- Pricing -->
	<section id="fh5co-pricing" data-section="pricing">
		<div class="fh5co-pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">{{ content.field_title.0 }}</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">{{ content.field_secondary_title.0 }}</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					{{ content.field_pricing_items }}
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-md-push-3 to-animate">
						{{ content.field_body.0 }}
					</div>
				</div>

			</div>
		</div>
	</section>	
<!-- Pricing End-->
		
