<!-- team item -->
	<div class="col-md-4">
		<div class="team-box text-center to-animate-2">
			<div class="user">
				<img class="img-responsive" src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
			</div>
			<h3>{{ content.field_title.0 }}</h3>
			<span class="position">{{ content.field_secondary_title.0 }}</span>
			{{ content.field_body.0 }}
			<ul class="social-media">
				{{ content.field_team_social_links }}
			</ul>
		</div>
	</div>
<!-- team item end-->





