<!-- team -->
	<section id="fh5co-team" data-section="team">
		<div class="fh5co-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">{{ content.field_title.0 }}</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">{{ content.field_body.0|render|striptags }}</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					{{ content.field_team_items }}
				</div>
			</div>
		</div>
	</section>

<!-- team end-->





