<!-- Banner -->
  <section id="fh5co-home" data-section="home" style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }});" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
      <div class="text-wrap">
        <div class="text-inner">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="to-animate">{{ content.field_title.0 }}</h1>
              {% if content.field_url.0|render is not empty %}
              	<h2 class="to-animate">{{ content.field_body.0|render|striptags }} <a href="{{ content.field_url[0]['#url']|render }}" target="_blank"> {{ content.field_url[0]['#title'] }}</a></h2>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- banner-end -->

