<!-- project items -->
	<div class="col-md-12 text-center">
		<div class="project-grid to-animate-2" style="background-image:  url({{ file_url(content.field_image['#items'].entity.uri.value) }});">
			<div class="desc">
			{% if content.field_url.0|render is not empty %}
				<h3><a href="{{ content.field_url[0]['#url']|render }}">{{ content.field_url[0]['#title'] }}</a></h3>
			{% endif %}	
				<span>By:{{ content.field_title.0 }}</span>
			</div>
		</div>
	</div>
<!-- project items end-->





