  <form class="contact-form" {{ attributes }}>
    <div class="form-group">
      <label for="name" class="sr-only">{{ element.elements.name['#title'] }}</label>
      {{ element.elements.name }}
    </div>
    <div class="form-group">
      <label for="email" class="sr-only">{{ element.elements.email['#title'] }}</label>
      {{ element.elements.email }}
    </div>
    <div class="form-group">
      <label for="message" class="sr-only">{{ element.elements.message['#title'] }}</label>
      {{ element.elements.message }}
    </div>
    <div class="form-group">
      {{ element.elements.actions }}
    </div>
  </form>
