<!-- tabs -->
  {{ page.tabs }}
  <!-- header -->
  <header role="banner" id="fh5co-header">
    <div class="fluid-container">
      {{ page.primary_menu }}
    </div>
  </header>

<!-- content -->
  {{ page.content }}

<!-- footer -->
  <div id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 to-animate">
          {% if about_us_title|render is not empty %}
            <h3 class="section-title">{{ about_us_title }}</h3>
          {% endif %}
          {% if about_desc|render is not empty %}
            <p>{{ about_desc }}</p>
          {% endif %}
          <p class="copy-right">&copy; 2018 <a href="#">YG Verb</a>. All Rights Reserved. 
            Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co </a>Theme By <br><a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="http://www.youngglobes.com" target="_blank">Young Globes</a>
          </p>

        </div>


        <div class="col-md-4 to-animate">
          {% if title|render is not empty %}
            <h3 class="section-title">{{ title }}</h3>
          {% endif %}
          <ul class="contact-info">
          {% if address|render is not empty %}
            <li><i class="icon-map-marker"></i>{{ address }}</li>
          {% endif %}  
          {% if contact_number|render is not empty %}
            <li><i class="icon-phone"></i><a href="tel:{{ contact_number }}">{{ contact_number }}</a></li>
          {% endif %}   
          {% if mail|render is not empty %}
            <li><i class="icon-envelope"></i><a href="mailto:{{ mail }}"><span class="__cf_email__" data-cfemail="b9d0d7dfd6f9c0d6cccbcad0cddc97dad6d4">{{ mail }}</span></a></li>
          {% endif %}   
          {% if domain_name|render is not empty %}
            <li><i class="icon-globe2"></i><a href="{{ domain_name }}">{{ domain_name }}</a></li>
          {% endif %}  
          </ul>
          {% if social_title|render is not empty %}
            <h3 class="section-title">{{ social_title }}</h3>
          {% endif %}  
          <ul class="social-media">
            {% if facebook_url|render is not empty %}
              <li><a href="{{ facebook_url }}" class="facebook"><i class="icon-facebook"></i></a></li>
            {% endif %}    
            {% if twitter_url|render is not empty %}
              <li><a href="{{ twitter_url }}" class="twitter"><i class="icon-twitter"></i></a></li>
            {% endif %}  
            {% if dribbble_url|render is not empty %}  
              <li><a href="{{ dribbble_url }}" class="dribbble"><i class="icon-dribbble"></i></a></li>
            {% endif %}  
            {% if github_url|render is not empty %}  
              <li><a href="{{ github_url }}" class="github"><i class="icon-github-alt"></i></a></li>
            {% endif %}  
          </ul>
        </div>
        <div class="col-md-4 to-animate">
            {{ page.contact_form }}
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="map" class="fh5co-map"></div> -->
